<div class="videoDesc__data">
  {{#with claim.Channel}}
  <a href="{{claim.Channel.RelUrl}}">
    {{> 'partials/channel' }}
  </a>
  {{/with}}
  <div class="videoDesc__meta">
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Views">visibility</span>
      <p>{{claim.Views}}</p>
    </div>
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Likes">thumb_up</span>
      <p>{{claim.Likes}}</p>
    </div>
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Dislilkes">thumb_down</span>
      <p>{{claim.Dislikes}}</p>
    </div>
  </div>
</div>
<div class="actionBar">
  <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">
    <button class="btn">
      <span class="material-icons-outlined">open_in_new</span>
      Odysee
    </button>
  </a>
  {{#unless download}}
  {{#unless live}}
  {{#unless document}}
  <a href="{{stream}}?download=1" rel="nofollow noreferrer">
    <button class="btn">
      <span class="material-icons-outlined">download</span>
      Download
    </button>
  </a>
  {{/unless}}
  {{/unless}}
  {{/unless}}
</div>