<div class="video">
  <div class="thumbnailWrapper">
    <a href={{this.RelUrl}}>
      <img class="thumbnail" src="{{this.ThumbnailUrl}}&w=854&h=480" loading="lazy" />
    </a>
    {{#equal this.StreamType "video" }}
    <p class="duration">{{this.Duration}}</p>
    {{else}}
    {{/equal}}
  </div>
  <p>
    <a class="videoLink" href={{this.RelUrl}}>{{this.Title}}</a>
  </p>
  <p>
    <a class="videoLink" href={{this.Channel.RelUrl}}>{{this.Channel.Name}}</a>
  </p>
  <div class="videoMeta">
    <p title="{{this.Date}}">Shared {{this.RelTime}}</p>
    <p>{{this.Views}} views</p>
  </div>
</div>