<div class="videoDesc__data">
  {{> 'partials/claimChannel' }}
  <div class="videoDesc__meta">
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Views">visibility</span>
      <p>{{claim.Views}}</p>
    </div>
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Likes">thumb_up</span>
      <p>{{claim.Likes}}</p>
    </div>
    <div class="videoDesc__meta__item">
      <span class="material-icons-outlined" title="Dislilkes">thumb_down</span>
      <p>{{claim.Dislikes}}</p>
    </div>
    <div class="videoDesc__meta__item videoDesc__meta__item-btn">
      <div>
        <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">
          <span class="material-icons-outlined">open_in_new</span>
        </a>
        <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">Odysee</a>
      </div>
    </div>
    {{#unless download}}
    {{#unless live}}
    <div class="videoDesc__meta__item videoDesc__meta__item-btn">
      <div>
        <a href="{{stream}}?download=1" rel="nofollow noreferrer">
          <span class="material-icons-outlined">download</span>
        </a>
        <a href="{{stream}}?download=1" rel="nofollow noreferrer">
          Download
        </a>
      </div>
    </div>
    {{/unless}}
    {{/unless}}
  </div>
</div>