<div class="videoWrapper">
  <video id="player" class="videoPlayer" poster="{{claim.ThumbnailUrl}}&w=1280&h=720" controls=true>
    {{#if stream.isHls}}
    <source type="{{stream.type}}" src="{{stream.hlsUrl}}">
    <source type="video/mp4" src="{{stream.url}}?download=1">
    {{else}}
    <source type="{{stream.type}}" src="{{stream.url}}">
    {{/if}}
  </video>
</div>