<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <meta name="thumbnail" content="{{config.DOMAIN}}{{claim.ThumbnailUrl}}">
  <meta name="description" content={{claim.DescriptionTxt}}>

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content={{claim.Url}}>
  <meta property="og:title" content={{claim.Title}}>
  <meta property="og:image" content="{{config.DOMAIN}}{{claim.ThumbnailUrl}}">
  <meta property="og:description" content={{claim.DescriptionTxt}}>
  <meta property="og:type" content="video.other">

  <meta name="twitter:card" content="player">
  <meta name="twitter:url" content={{claim.Url}}>
  <meta name="twitter:title" content={{claim.Title}}>
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="{{config.DOMAIN}}{{claim.ThumbnailUrl}}">


  {{#if document}}
  <link rel="stylesheet" href="/static/css/video.css" />
  <link rel="stylesheet" href="/static/css/article.css" />
  {{else}}
  <link rel="stylesheet" href="/static/css/plyr.css" />
  <link rel="stylesheet" href="/static/css/video.css" />
  {{/if}}

  {{#if download}}
  <style>
    .dl {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .largeIcon {
      font-size: 36px;
    }
    .videoMeta__download {
      margin-top: 0;
    }
  </style>
  {{/if}}

  <link rel="stylesheet" href="/static/css/comments.css" />
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{claim.Title}} - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    {{#if download}}
    <div class="dl">
      <span class="material-icons-outlined largeIcon">
        report_problem
      </span>
      <p>This file could not be displayed.</p>
      <a href="{{stream}}?download=1" rel="nofollow noreferrer">
        <button class="videoMeta__download">
          <span class="material-icons-outlined">download</span> Download
        </button>
      </a>
    </div>
    {{/if}}

    {{#unless document}}
    {{#unless download}}
    {{> 'partials/videoPlayer' }}
    {{/unless}}

    <h2>{{claim.Title}}</h2>

    <div class="videoData">
      <div class="videoData__left videoData__side">
        <div class="videoMeta__wrapper">
          {{> 'partials/meta' }}

          {{> 'partials/description' }}
        </div>

        {{> 'partials/comments' }}
      </div>

      {{#unless document}}
      {{> 'partials/relVids'}}
      {{/unless}}
    </div>
    {{else}}

    <h1 class="postTitle">{{claim.Title}}</h1>
    <p><b>{{claim.Date}}</b></p>

    <div class="articleMeta__wrapper">
      {{> 'partials/meta' }}
      
      {{> 'partials/channel' }}
    </div>

    <article>
      {{{document}}}
    </article>

    <p class="videoDesc__claimId">Claim ID: {{claim.ClaimId}}</p>

    {{> 'partials/comments' }}
    {{/unless}}
  </main>

  {{> 'partials/footer' }}

  {{#unless nojs}}
  <script src="/static/js/comments.js"></script>
  <script>
    document.getElementById("nojs").remove();

    comments("{{claim.ClaimId}}", "{{claim.Channel.Id}}", "{{claim.Channel.Name}}", 1)

    function loadMoreBtn(page) {
      let loadMore = document.getElementById("loadMore");
      loadMore.addEventListener('click', () => {
        loadMore.remove()
        comments("{{claim.ClaimId}}", "{{claim.Channel.Id}}", "{{claim.Channel.Name}}", page + 1)
      })
    }
  </script>
  {{#unless document}}
  <script src="/static/js/plyr.js"></script>
  {{#if isHls}}
  <script src="/static/js/hls.js"></script>
  <script src="/static/js/plyr-hls.js"></script>
  {{else}}
  <script>const player = new Plyr('#player');</script>
  {{/if}}
  <script>
    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case 'j':
          player.rewind(15);
          break;
        case 'l':
          player.forward(15);
          break;
      }
    });
  </script>
  {{/unless}}
  {{/unless}}
</body>

</html>